<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>西安个人租房信息_蛋壳公寓好不好_蛋壳公寓联系方式-蛋壳公寓官网</title>
    <meta name="applicable-device" content="pc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name='keywords' content='关于蛋壳公寓,关于蛋壳,了解蛋壳公寓'>
    
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="蛋壳公寓官网为您提供租房信息,地铁租房,青年公寓,蛋壳公寓致力于为都市白领创造高品质租住生活,为加盟蛋壳的业主提供一站式房屋租赁委托服务">
    
    <!-- Set render engine for multi engine browser -->
    <meta name="renderer" content="webkit">
    <!-- Disable Baidu Siteapp -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <link rel="canonical" id="completeLinks">
    <link media="all" type="text/css" rel="stylesheet" href="../css/bootstrap-ec3bb52a00.min.css">

    <link media="all" type="text/css" rel="stylesheet" href="../css/swiper-0b941af5db.min.css">

    <link media="all" type="text/css" rel="stylesheet" href="../css/common-79c5f32049.css">


    <script src="../js/jquery-2f6b11a7e9.min.js"></script>

    <script src="../js/bootstrap-5869c96cc8.min.js"></script>

    <script src="../js/swiper-3-cd2bffb7f2.3.1.min.js"></script>

    <script src="../js/md5-ea27c6f755.min.js"></script>

    <script src="../js/city-3cac51054f.js"></script>

    <script src="../js/public-877bc21ad3.js"></script>

    <script src="../js/sa-8f9c5970ba.js"></script>

    <script src="../js/sa-method-7585e9f14c.js"></script>

    <link media="all" type="text/css" rel="stylesheet" href="../css/about-us-f0606812ee.css">

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?814ef98ed9fc41dfe57d70d8a496561d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1271579284'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1271579284%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    <style>
        [id^="cnzz_stat_icon_"] {
            display: none;
        }
    </style>
    <script> (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })(); </script>
    <script>
        var id = '';
        $.ajax({
            type: 'GET',
            url: '/web-api/user/info',
            async: false,
            error: function (msg) {
                console.log(msg)
            },
            success: function (data) {
                id = data.data.mobile || '';
            },
        })

        sa.register({
            'platformType': 'PC',
            'pid': 'dankegongyu_customer',
            'cid': 'xa',
            'ucid': id,
            'uuid': id,
            'ssid': id,
            'lmei': '',
            'android_id': '',
            'idfa': '',
            'idfv': '',
            'mac_id': '',
        });
        $(function () {
            $('.nav-owner').click(function () {
                saMethod.ClickingHomepage('月租', $(this).attr('key') || '', '', '')
            })
        })

        //sa.quick('autoTrack');

        function GetUrlParam(paraName) {
            var url = document.location.toString();
            var arrObj = url.split("?");

            if (arrObj.length > 1) {
                var arrPara = arrObj[1].split("&");
                var arr;

                for (var i = 0; i < arrPara.length; i++) {
                    arr = arrPara[i].split("=");

                    if (arr != null && arr[0] == paraName) {
                        return arr[1];
                    }
                }
                return "";
            } else {
                return "";
            }
        }

        $('#completeLinks').attr('href',window.location.href);
    </script>
    </head>


<!--[if lte IE 8]>
<script src="../js/html5shiv-0ce8f35589.js"></script>

<script src="../js/respond-972b9d5576.min.js"></script>

<![endif]-->

<!--[if lt IE 8]>
<div class="alert-danger text-center">您正在使用<strong>过时</strong>的浏览器，本网站不能很好的支持。
    <a href="http://browser.qq.com/" target="_blank">立即使用最新QQ浏览器</a> 获得更好的使用体验！
</div>
<![endif]-->

<body>
<input type="hidden" value="400-680-1856" id="zjhPhoneNumber">
<input type="hidden" value="xa" name="website-city-code">
<input type="hidden" value="关于" name="website-page-name">
<input type="hidden" name="_token" value="E2IJkYc5KADFljE6cpJ0Xc7m58zv7nh7XngfKFlv">
<div class="danke_header" id="topbar" data-spy="affix" data-offset-top="32">
    <div class="wibsite-center header-center">
        <div class="logo fl">
            <a href="index.html"><img src="../picture/public-20181123-Fv8X-dI45m6srAWM.jpg" title="蛋壳公寓官网" alt="蛋壳公寓官网"></a>
            <h2 style="display: none;">蛋壳公寓官网，租房，整租，合租</h2>
        </div>
        <div class="fl dkcity hd-sprite-ab">
            <span id="dropdownMenu1" data-toggle="dropdown"><i></i>西安</span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0)" rel="bj">北京市</a></li>
                                    <li><a href="javascript:void(0)" rel="sz">深圳市</a></li>
                                    <li><a href="javascript:void(0)" rel="sh">上海市</a></li>
                                    <li><a href="javascript:void(0)" rel="hz">杭州市</a></li>
                                    <li><a href="javascript:void(0)" rel="tj">天津市</a></li>
                                    <li><a href="javascript:void(0)" rel="wh">武汉市</a></li>
                                    <li><a href="javascript:void(0)" rel="nj">南京市</a></li>
                                    <li><a href="javascript:void(0)" rel="gz">广州市</a></li>
                                    <li><a href="javascript:void(0)" rel="cd">成都市</a></li>
                                    <li><a href="javascript:void(0)" rel="gs">苏州市</a></li>
                                    <li><a href="javascript:void(0)" rel="wx">无锡市</a></li>
                                    <li><a href="javascript:void(0)" rel="xa">西安市</a></li>
                                    <li><a href="javascript:void(0)" rel="cq">重庆市</a></li>
                            </ul>
        </div>
        <div class="nav fl">
            <a href="../page/toIndex" data-subject="首页">首页</a>
            <a href="bj1.html" data-subject="找房">找房</a>
            <a href="../page/bjjointrent" data-subject="合租">合租</a>
            <a href="../page/bjentirerent" data-subject="整租">整租</a>
            <a href="../page/bj1" data-subject="月租" class="nav-owner">
                月租
                <img src="../picture/public-20181026-Fk40x9Wf9fpcZcvR.jpg" alt="月租图标" class="owner-gray-icon">
            </a>
            <a href="../page/yezhu" data-subject="业主">业主</a>
            <a href="" data-subject="关于">关于</a>
            <a href="easy-rent-recommend.html" data-subject="轻松整租" class="nav-owner" style="display: none!important;">
                轻松整租
                <img src="../picture/public-20181106-Fjn7IEUAr9PgMQIs.jpg" alt="轻松整租图标" class="owner-gray-icon">
            </a>
        </div>
                    <a class="dklogin fr" href="../page/login" rel="nofollow">登录</a>
                <div class="dkphone fr">
            <div class="serphoen fl hd-sprite-ab">
                <label></label>
            </div>
        </div>
    </div>
</div>
<div class="right-fixed">
    <div class="fixed-wrapper">
        <div class="scroll-to-top">
            <a href="javascript:void(0)" target="_parent"></a>
        </div>
        <div class="scroll-to-app">
            <a href="javascript:void(0)"></a>
            <div>
                <span></span>
                <img src="../picture/public-20180519-FnAV1svjF0c8wOsS.jpg" alt="app下载">
                <p>扫描下载蛋壳APP</p>
            </div>
        </div>
        <div class="scroll-to-phone">
            <a href="javascript:void(0)"></a>
            <div>
                <img src="../picture/public-20180519-Fq8UiGCwbNXfmt4u.jpg" alt="客服电话图片">
                <span>400-680-1856</span>
            </div>
        </div>
        <div class="scroll-to-xcx">
            <a href="javascript:void(0)"></a>
            <div>
                <span class="xcx-close"></span>
                <span></span>
                <img src="../picture/public-20180606-Fma_F2IgLSK0VW-T.jpg" style="width:95px;height:95px" alt="app下载">
                <p>小程序找房更容易</p>
            </div>
        </div>
        
        <div class="custom_huose" data-toggle="modal" data-target="#orderRoom" style="position:relative;top: 15px;">
            <img src="../picture/public-20181122-FlZjLr74CPQQXfkP.jpg" alt="房源定制">
        </div>
    </div>
</div>
<div class="website-main">
    
        <!--header end-->
<div class="wrapper">
    <!--面包屑导航-->
    <div class="intro">
        <div class="fl container_n">
            <a href="index.html">蛋壳公寓</a> > 关于蛋壳
        </div>
    </div>
    <!--面包屑导航 end-->
</div>
<!--关于我们-->
<div class="wrapper clearfix">
    <div class="fl roomintro">
        <div class="hp_usbox">
    <ul>
                    <li class="active">
                <a href="">关于蛋壳</a>
            </li>
                    <li class="">
                <a href="../page/contact">联系蛋壳</a>
            </li>
                    <li class="">
                <a href="../page/join">蛋壳社招</a>
            </li>
                    <li class="">
                <a href="../page/school">蛋壳校招</a>
            </li>
            </ul>
</div>
    </div>
    <div class="fr roomcenter">
        <div class="hp_title">
            <div class="hp_t_h">
                <h1>公司简介</h1>
            </div>
            <span class="hp_t_line"></span>
        </div>
        <div class="hp_txtbox">
            
            <p>
                蛋壳公寓是中国知名的互联网长租公寓运营商，致力于用互联网方式改造传统的住房租赁行业。公司成立于 2015 年初，是一家以数据驱动为核心，提供高品质租住生活的资产管理和居住服务平台，产品形态涵盖合租公寓、整租公寓等，满足都市年轻白领多元化的居住需求。创立至今四年多时间，已进入北京、上海、广州、深圳、苏州、杭州、天津、武汉、南京、成都、无锡、重庆、西安13地市场。
            </p>
            <p>
                在长租公寓行业权威研究机构迈点研究院发布的最新一期《长租公寓品牌指数排行榜》中，蛋壳公寓已累计20个月高居榜首。
            </p>
            <p><strong>让租房变得简单和快乐！</strong></p>
        </div>
        <script>
        
            sa.quick('autoTrack', {
                'page_type': '关于频道',
                'source_type': '关于蛋壳模块',
                'house_positiontype': '',
                'house_position': '',
                'house_scope': '',
                'house_price': '',
                'house_type': '',
                'business_circle': '',
                'house_rentway': '',
                'house_area': '',
                'house_id': '',
                'housedel_id': '',
                'resblock_name': '',
            });
        
        </script>
    </div>

</div>
</div>
<div class="footer">
    <div class="website-help">
        <div class="wibsite-center">
            <div class="website-f-list">
                <span>用户帮助</span>
                <p><a href="notice.html" rel="nofollow" target="_blank">入住指南</a></p>
                <p><a href="20180111lifehacks" rel="nofollow" target="_blank">生活常识</a></p>
                <p><a href="problem.html" rel="nofollow" target="_blank">租房问题</a></p>
            </div>
            <div class="website-f-list">
                <span>商务合作</span>
                <p><a href="20171219styleforum" rel="nofollow" target="_blank">商务合作</a></p>
            </div>
            <div class="website-f-list">
                <span>公司信息</span>
                <p><a href="" target="_blank" rel="nofollow">关于蛋壳</a></p>
                <p><a href="contact.html" target="_blank" rel="nofollow">联系蛋壳</a></p>
                <p><a href="join.html" target="_blank" rel="nofollow">加入蛋壳</a>
                </p>
            </div>
            <div class="website-f-list">
                <span>客服热线</span>
                <p>4001-551-551</p>
            </div>
            <div class="website-f-right">
                <div class="website-f-pic index-qyx">
                    <b><img src="../picture/public-20190220-Fk9q0ko59hYEY9cP.jpg" title="企优享" alt="企优享"></b>
                    <p>企优享</p>
                </div>
                <div class="website-f-pic index-zfb">
                    <b><img src="../picture/public-20190116-FkDQ7BtPiOtdR1Vn.jpg" title="支付宝小程序" alt="支付宝小程序"></b>
                    <p>支付宝小程序</p>
                </div>
                <div class="website-f-pic index-xcx">
                    <b><img src="../picture/public-20180702-FlfqqYRpjYyFKdRU.jpg" title="下载蛋壳公寓APP" alt="下载蛋壳公寓APP"></b>
                    <p>小程序找房</p>
                </div>
                <div class="website-f-pic index-apptyb index-app">
                    <b></b>
                    <p>蛋壳公寓APP</p>
                </div>
                <div class="website-f-pic index-wechat">
                    <b><img src="../picture/public-20180104-FuHnSFKo71wRSuJS.jpg" title="关注蛋壳公寓官方微信" alt="关注蛋壳公寓官方微信"></b>
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div style="clear:both;padding-top: 20px;display:none">
                <p style="color:#fff;font-size: 16px">专属管家、极速WIFI、优质保洁、环保装修、高档家居</p>
            </div>
        </div>
    </div>
    <div class="crumbs">
        <div class="crumbs-classify">
            <a class="crumbs-sel" code="city" href="javascript:;">城市租房</a>
            <a href="javascript:;" code="dirc">城区租房</a>
            <a href="javascript:;" code="block">商圈租房</a>
            <a href="javascript:;" code="plot">小区租房</a>
        </div>
        <div>
            <div class="crumbs-list city">

            </div>
            <div class="crumbs-list dirc" style="display:none">

            </div>
            <div class="crumbs-list block" style="display:none">

            </div>
            <div class="crumbs-list plot" style="display:none">

            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="wibsite-center">
            <div class="footer-logo">
                <a href="index.html">
                    <img src="../picture/public-20180702-FkLmdf41L0FSNAkt.jpg" alt="蛋壳公寓">
                </a>
            </div>
            <div class="copy-right-text">
                <div class="dankecomicp" style="display: none">
                    <div><a href="javascript:;" rel="nofollow" target="_blank" style="color: #fff">© 2019 蛋壳公寓
                            沪ICP备18043153号-1</a></div>
                    <div>
                        <img src="../picture/public-20190628-FinEALw7ifYIV2ba.jpg" style="display: inline-block;width: 10px">
                        <a href="javascript:;" target="_blank" rel="nofollow" style="color: #fff">京公网安备 11010102003786号</a>
                    </div>
                </div>
                <div class="dankegongyucomicp" style="display: none">
                    <div><a href="javascript:;" rel="nofollow" target="_blank" style="color: #fff">© 2019 蛋壳公寓
                            京ICP备15009197号-1</a></div>
                    <div>
                        <img src="../picture/public-20190628-FinEALw7ifYIV2ba.jpg" style="display: inline-block;width: 10px">
                        <a href="javascript:;" target="_blank" rel="nofollow" style="color: #fff">北京市东城驻区大队11010102001946</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-house">
        <div class="custom-center">
            <div class="custom-house-title">输入您的找房需求，我们会尽快安排销售，用心带您找到心仪的房源</div>
            <div class="custom-house-address">
                <div class="intention-position">意向位置：</div>
                <div class="list_part">
                    <div class="city_xs">
                        <div class="city_list_title"></div>
                        <div class="city_list_tab">
                            <ul class="city_ul">
                            </ul>
                        </div>
                    </div>

                    <div class="district_xs">
                        <div class="district_list_title">不限</div>
                        <div class="district_list_tab">
                            <ul class="district_ul">
                            </ul>
                        </div>
                    </div>

                    <div class="block_xs">
                        <div class="block_list_title">不限</div>
                        <div class="block_list_tab">
                            <ul class="block_ul">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="import-address">
                <input type="text" placeholder="可手动输入多个地址，以，隔开" class="address_inp" maxlength="50">
            </div>
            <div class="price-budget">
                <div class="budget-title">租房预算：</div>
                <div class="budget_list_title">不限</div>
                <div class="budget_list_tab">
                    <ul class="budget_ul">
                        <li class="on">不限</li>
                        <li>1500以下</li>
                        <li>1500-2000元</li>
                        <li>2000-2500元</li>
                        <li>2500-3000元</li>
                        <li>3000元</li>
                    </ul>
                </div>
            </div>
            <div class="custom-phoneNum">
                <div class="phoneNum-part">
                    <div class="phoneNum-title"><span class="sign">*</span>联系方式：</div>
                </div>
                <input type="tel" placeholder="请输入正确电话，以便我们联系到您" class="phone_num_inp" maxlength="11">
            </div>
            <div class="submit_btn" data-toggle="modal" data-target="#myroom">提交</div>
            <div class="close_img"></div>
        </div>
    </div>

    <div class="order_room">
        <div class="succesbox_detail" style="display: block">
            <div class="success_close">×</div>
            <div class="wt_detail">
                <div class="wt_explain">
                    <div class="wt_img"></div>
                    <h2 class="wt_title">意向提交成功！</h2>
                    <h3 class="wt_sub_title">客服会在24小时内联系您，请不要拒接座机，
                        保持电话畅通噢！</h3>
                </div>
                <div class="wt_dec_title">让租房变得简单和快乐
                    <div class="wt_line"></div>
                </div>
                <div class="wt_icons">
                    <div class="detail_img_logo"></div>
                </div>
            </div>
            <div class="wt_ewm">
                <div class="wt_ewm_image"></div>
                <div class="wt_sm">扫一扫</div>
                <div class="wt_sm">下载<span>蛋壳公寓</span></div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    /*退出登录*/

    $(".dklogout").on("click", function () {
        $.ajaxSetup({
    headers: {
        'X-CSRF-TOKEN': 'E2IJkYc5KADFljE6cpJ0Xc7m58zv7nh7XngfKFlv'
    },
    cache: false,
    async: false,
});;
        $.ajax({
            url: '/web-api/user/logout',
            type: "POST",
            success: function (data) {
                location.reload()
            },
            error: function (err) {
                console.log(err);
            }
        })
    })

    $('.dklogined-wrapper').hover(function () {
        $('.dklogined-center').show()
        $('.dklogined').css('background', 'url(https://public.danke.com.cn/public-20180519-FqitD4IbypL6rbHSVa_yq4iSsaQE)')
    }, function () {
        $('.dklogined-center').hide()
        $('.dklogined').css('background', 'url(https://public.danke.com.cn/public-20180519-FtfmOHVmUq7-6Tzol_cyQBE9yt3y)')
    })

    $('.scroll-to-phone').hover(function () {
        $('.scroll-to-phone div').show()
        $('.scroll-to-xcx div').hide()
        $('.xcx-close').hide()
    }, function () {
        $('.scroll-to-phone div').hide()
    })

    $('.scroll-to-app').hover(function () {
        $('.scroll-to-app div').show()
        $('.scroll-to-xcx div').hide()
        $('.scroll-to-app a').css('background-color', '#3dbcc6')
        $('.xcx-close').hide()
    }, function () {
        $('.scroll-to-app div').hide()
        $('.scroll-to-app a').css('background-color', '#333333')
    })

    $('.scroll-to-xcx').hover(function () {
        $('.scroll-to-xcx div').show()
        $('.scroll-to-xcx a').css('background-color', '#3dbcc6')
    }, function () {
        $('.scroll-to-xcx div').hide()
        $('.scroll-to-xcx a').css('background-color', '#333333')
        $('.xcx-close').hide()
    })

    $('.xcx-close').on('click', function () {
        $('.scroll-to-xcx div').hide()
        $('.xcx-close').hide()
    })

    $('.crumbs-classify a').on('click', function () {
        $(this).addClass('crumbs-sel')
        $(this).siblings().removeClass('crumbs-sel')

        var code = '.crumbs-list.' + $(this).attr('code')
        $(code).show()
        $(code).siblings().hide()
    });


    $('.custom_huose').on('click', function () {
        $('body').css('overflow-y', 'hidden');
        $('.custom-house').show();
        saMethod.orderRoomPCClick('PC入口点击');
    });

    $('.close_img').on('click', function () {
        $('body').css('overflow-y', 'auto');
        $('.custom-house').hide();
    });

    $('.success_close').on('click', function () {
        $('.order_room').hide();
    });

    var city_id_list = [],
        city_name_list = [],
        district_id_list = [],
        district_name_list = [],
        block_id_list = [],
        block_name_list = [],
        myBudget = '不限',
        currentCityId,
        currentCityName,
        currentDistrictId = 0,
        currentDistrictName,
        currentBlockId = 0,
        currentBlockName,
        submit = true,
        token = $("input[name='_token']").val();

    //城市id
    var city_id = true;
    $('.city_list_title').on('click', function () {
        if (city_id) {
            $('.city_list_tab').show();
            $('.district_list_tab').hide();
            $('.block_list_tab').hide();
            city_id = false;
            district_id = true;
            block_id = true;
        } else {
            $('.city_list_tab').hide();
            city_id = true;
        }
    });

    //district id
    var district_id = true;
    $('.district_list_title').on('click', function () {
        if (district_id) {
            $('.district_list_tab').show();
            $('.city_list_tab').hide();
            $('.block_list_tab').hide();
            city_id = true;
            district_id = false;
            block_id = true;
        } else {
            $('.district_list_tab').hide();
            district_id = true;
        }
    });

    //block id
    var block_id = true;
    $('.block_list_title').on('click', function () {
        if (block_id) {
            $('.block_list_tab').show();
            $('.city_list_tab').hide();
            $('.district_list_tab').hide();
            city_id = true;
            district_id = true;
            block_id = false;
        } else {
            $('.block_list_tab').hide();
            block_id = true;
        }
    });


    var price_select = true;
    $(".budget_list_title").on('click', function () {
        if (price_select) {
            $('.budget_list_tab').show();
            price_select = false;
        } else {
            $('.budget_list_tab').hide();
            price_select = true;
        }
    });

    $('.budget_ul li').on('click', function () {
        $('.budget_ul li').removeClass('on');
        $(this).addClass('on');
        $('.budget_list_tab').hide();
        $('.budget_list_title').text($(this).text());
        price_select = true;
        myBudget = $(this).text();
    });

    $(".phone_num_inp").bind("input propertychange", function (event) {
        if ($(".phone_num_inp").val().length == 11) {
            $('.submit_btn').css('background', '#3DBCC6');
            submit = true;
        } else {
            $('.submit_btn').css('background', '#E4E4E4');
            submit = false;
        }
    });

    function district(currentCityId) {
        $.ajax({
            url: '/pangu-activity/marketing/custom-house-resource/district/' + currentCityId,
            type: 'get',
            success: function (res) {
                if (res.success) {
                    district_id_list = [];
                    district_name_list = [];
                    $('.district_ul').empty();
                    $('.district_ul').append('<li class="district_bx">不限</li>');
                    $('.district_list_tab').animate({scrollTop: 0}, 100);
                    currentDistrictId = '0';
                    $.each(res.data, function (idx, item) {
                        district_name_list.push(res.data[idx]);
                        district_id_list.push(idx);
                        $('.district_ul').append('<li>' + res.data[idx] + '</li>');
                    });

                    currentDistrictId = district_id_list[district_name_list.indexOf($('.district_ul li').eq(1).text())];
                    $('.district_list_title').text($('.district_ul li').eq(1).text());
                    $('.district_ul li').eq(1).addClass('on');
                    blockPart(currentDistrictId);

                    $('.district_ul li').on('click', function () {
                        $('.district_ul li').removeClass('on');
                        $(this).addClass('on');
                        currentDistrictId = district_id_list[district_name_list.indexOf($(this).text())];
                        currentDistrictName = $(this).text();
                        $('.district_list_tab').hide();
                        district_id = true;
                        $('.district_list_title').text(currentDistrictName);
                        blockPart(currentDistrictId);
                    });
                    $('.district_bx').click(function () {
                        $('.city_block_list').hide();
                        currentDistrictId = '0';
                        blockPart(currentDistrictId);
                    })
                } else {
                    alert(res.msg);
                }
            },
            error: function () {
                //alert('请重新刷新此页面');
            }
        })
    }

    function blockPart(currentDistrictId) {
        $.ajax({
            url: '/pangu-activity/marketing/custom-house-resource/block/' + currentDistrictId,
            type: 'get',
            success: function (res) {
                if (res.success) {
                    block_id_list = [];
                    block_name_list = [];
                    $('.block_ul').empty();
                    $('.block_ul').append('<li class="district_bx">不限</li>');
                    $('.block_list_title').text('不限');
                    $('.block_list_tab').animate({scrollTop: 0}, 100);
                    currentBlockId = '0';
                    $.each(res.data, function (idx, item) {
                        block_name_list.push(res.data[idx]);
                        block_id_list.push(idx);
                        $('.block_ul').append('<li>' + res.data[idx] + '</li>');
                    });

                    currentBlockId = block_id_list[block_name_list.indexOf($('.block_ul li').eq(1).text())];
                    $('.block_list_title').text($('.block_ul li').eq(1).text());
                    $('.block_ul li').eq(1).addClass('on');

                    $('.block_ul li').on('click', function () {
                        $('.block_ul li').removeClass('on');
                        $(this).addClass('on');
                        currentBlockId = block_id_list[block_name_list.indexOf($(this).text())];
                        currentBlockName = $(this).text();
                        $('.block_list_tab').hide();
                        block_id = true;
                        $('.block_list_title').text(currentBlockName);
                    });
                    $('.district_bx').click(function () {
                        currentBlockId = '0';
                    })
                } else {
                    //alert(res.msg);
                }
            },
            error: function () {
                //alert('请重新刷新此页面');
            }
        })
    }

    $.ajax({
        url: '/pangu-activity/marketing/custom-house-resource/city-list',
        type: 'get',
        success: function (res) {
            if (res.success) {
                $.each(res.data, function (idx, item) {
                    city_name_list.push(res.data[idx]);
                    city_id_list.push(idx);
                    $('.city_ul').append('<li>' + res.data[idx] + '</li>');
                });

                currentCityId = city_id_list[city_name_list.indexOf('西安市')];
                $('.city_ul').children().eq(city_id_list.indexOf(currentCityId)).addClass('on');
                $('.city_list_title').text(res.data[currentCityId]);
                currentCityName = res.data[currentCityId];
                district(currentCityId);
                //点击更换城市
                $('.city_ul li').on('click', function () {
                    $('.city_ul li').removeClass('on');
                    $(this).addClass('on');
                    currentCityId = city_id_list[city_name_list.indexOf($(this).text())];
                    currentCityName = $(this).text();
                    district(currentCityId);
                    $('.city_list_tab').hide();
                    city_id = true;
                    $('.city_list_title').text(currentCityName)
                })
            } else {
                alert(res.msg);
            }
        },
        error: function () {
            //alert('请重新刷新此页面');
        }
    });

    $('.submit_btn').click(function (platform) {
        var mobilePhone = $('.phone_num_inp').val();
        var address_inp = $('.address_inp').val();
        var edg = /^1[3456789][0-9]{9}$/;

        if (!mobilePhone) {
            alert('请输入手机号');
            return;
        }
        if (!edg.test(mobilePhone)) {
            alert('请输入正确的手机号');
            return;
        }

        if (submit) {
            submit = false;
            $.ajax({
                url: '/pangu-activity/marketing/custom-house-resource/custom-info',
                type: 'post',
                data: {
                    'mobile': mobilePhone,
                    'city_id': currentCityId,
                    'district_id': currentDistrictId,
                    'block_id': currentBlockId,
                    'address': address_inp,
                    'budget': myBudget,
                    '_token': token,
                },
                success: function (res) {
                    if (res.success) {
                        $('body').css('overflow-y', 'auto');
                        $('.custom-house').hide();
                        $('.modal-backdrop').show();
                        $('.order_room').show();
                    } else {
                        alert(res.msg);
                    }
                    saMethod.orderRoomCommitBtn(mobilePhone, currentCityName, currentDistrictName, currentBlockName, address_inp, myBudget);
                    submit = true;
                },
                error: function () {
                    //alert('请重新刷新此页面');
                }
            })
        } else {
            //alert('请重新刷新此页面');
        }
    });


    
    getCityList('西安', 'xa');
    getDircList('西安', 'xa', '')
    getBlockList('西安', 'xa', '')
    getPlotList('西安', 'xa', '')

</script>
<!--APP推广层 end-->
<div class="layout-collection-website">
    <a href="javascript:void(0)" class="layout-collection-website-close"></a>
    <div class="layout-collection-show">
        <span>友情提示</span>
        <p>亲爱的蛋宝宝们，由于我们修改了网站域名（新域名：www.danke.com）<br>为了您更快速的访问，请收藏此网站～</p>
        <div class="layout-collection-website-btn">
            <label class="layout-collection-not">暂不收藏</label>
            <label class="layout-collection-yes">一键收藏</label>
        </div>
    </div>
    <div class="layout-collection-hide">
        <span>收藏成功</span>
    </div>
</div>
</body>
</html>
