<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>北京合租房源信息网-北京合租公寓价格-北京房屋合租-找合租屋-蛋壳公寓官网</title>
    <meta name="applicable-device" content="pc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name='keywords' content='北京合租房北京合租公寓,北京房屋合租,合租屋,合租房'>
    
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="蛋壳公寓为您提供北京合租房、北京合租公寓、北京房屋合租等北京合租房源信息，定期更新北京合租房屋信息，找合租房、找合租屋就选蛋壳公寓。">
    
    <!-- Set render engine for multi engine browser -->
    <meta name="renderer" content="webkit">
    <!-- Disable Baidu Siteapp -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <link rel="canonical" id="completeLinks">
    <link media="all" type="text/css" rel="stylesheet" href="../css/bootstrap-ec3bb52a00.min.css">

    <link media="all" type="text/css" rel="stylesheet" href="../css/swiper-0b941af5db.min.css">

    <link media="all" type="text/css" rel="stylesheet" href="../css/common-79c5f32049.css">


    <script src="../js/jquery-2f6b11a7e9.min.js"></script>

    <script src="../js/bootstrap-5869c96cc8.min.js"></script>

    <script src="../js/swiper-3-cd2bffb7f2.3.1.min.js"></script>

    <script src="../js/md5-ea27c6f755.min.js"></script>

    <script src="../js/city-3cac51054f.js"></script>

    <script src="../js/public-877bc21ad3.js"></script>

    <script src="../js/sa-8f9c5970ba.js"></script>

    <script src="../js/sa-method-7585e9f14c.js"></script>

        <link media="all" type="text/css" rel="stylesheet" href="../css/joint_rent-f7eec9c0ee.css">

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?814ef98ed9fc41dfe57d70d8a496561d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1271579284'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1271579284%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    <style>
        [id^="cnzz_stat_icon_"] {
            display: none;
        }
    </style>
    <script> (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })(); </script>
    <script>
        var id = '';
        $.ajax({
            type: 'GET',
            url: '/web-api/user/info',
            async: false,
            error: function (msg) {
                console.log(msg)
            },
            success: function (data) {
                id = data.data.mobile || '';
            },
        })

        sa.register({
            'platformType': 'PC',
            'pid': 'dankegongyu_customer',
            'cid': 'bj',
            'ucid': id,
            'uuid': id,
            'ssid': id,
            'lmei': '',
            'android_id': '',
            'idfa': '',
            'idfv': '',
            'mac_id': '',
        });
        $(function () {
            $('.nav-owner').click(function () {
                saMethod.ClickingHomepage('月租', $(this).attr('key') || '', '', '')
            })
        })

        //sa.quick('autoTrack');

        function GetUrlParam(paraName) {
            var url = document.location.toString();
            var arrObj = url.split("?");

            if (arrObj.length > 1) {
                var arrPara = arrObj[1].split("&");
                var arr;

                for (var i = 0; i < arrPara.length; i++) {
                    arr = arrPara[i].split("=");

                    if (arr != null && arr[0] == paraName) {
                        return arr[1];
                    }
                }
                return "";
            } else {
                return "";
            }
        }

        $('#completeLinks').attr('href',window.location.href);
    </script>
    </head>


<!--[if lte IE 8]>
<script src="../js/html5shiv-0ce8f35589.js"></script>

<script src="../js/respond-972b9d5576.min.js"></script>

<![endif]-->

<!--[if lt IE 8]>
<div class="alert-danger text-center">您正在使用<strong>过时</strong>的浏览器，本网站不能很好的支持。
    <a href="http://browser.qq.com/" target="_blank">立即使用最新QQ浏览器</a> 获得更好的使用体验！
</div>
<![endif]-->

<body>
<input type="hidden" value="400-110-1027" id="zjhPhoneNumber">
<input type="hidden" value="bj" name="website-city-code">
<input type="hidden" value="合租" name="website-page-name">
<input type="hidden" name="_token" value="k16BSqcXhksxFsUXocOSPDWx5DIrxalmL4FWOThW">
<div class="danke_header" id="topbar" data-spy="affix" data-offset-top="32">
    <div class="wibsite-center header-center">
        <div class="logo fl">
            <a href="index.html"><img src="../picture/public-20181123-Fv8X-dI45m6srAWM.jpg" title="蛋壳公寓官网" alt="蛋壳公寓官网"></a>
            <h2 style="display: none;">蛋壳公寓官网，租房，整租，合租</h2>
        </div>
        <div class="fl dkcity hd-sprite-ab">
            <span id="dropdownMenu1" data-toggle="dropdown"><i></i>北京</span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0)" rel="bj">北京市</a></li>
                                    <li><a href="javascript:void(0)" rel="sz">深圳市</a></li>
                                    <li><a href="javascript:void(0)" rel="sh">上海市</a></li>
                                    <li><a href="javascript:void(0)" rel="hz">杭州市</a></li>
                                    <li><a href="javascript:void(0)" rel="tj">天津市</a></li>
                                    <li><a href="javascript:void(0)" rel="wh">武汉市</a></li>
                                    <li><a href="javascript:void(0)" rel="nj">南京市</a></li>
                                    <li><a href="javascript:void(0)" rel="gz">广州市</a></li>
                                    <li><a href="javascript:void(0)" rel="cd">成都市</a></li>
                                    <li><a href="javascript:void(0)" rel="gs">苏州市</a></li>
                                    <li><a href="javascript:void(0)" rel="wx">无锡市</a></li>
                                    <li><a href="javascript:void(0)" rel="xa">西安市</a></li>
                                    <li><a href="javascript:void(0)" rel="cq">重庆市</a></li>
                            </ul>
        </div>
        <div class="nav fl">
            <a href="../page/toIndex" data-subject="首页">首页</a>
            <a href="bj1.html" data-subject="找房">找房</a>
            <a href="" data-subject="合租">合租</a>
            <a href="../page/bjentirerent" data-subject="整租">整租</a>
            <a href="../page/bj1" data-subject="月租" class="nav-owner">
                月租
                <img src="../picture/public-20181026-Fk40x9Wf9fpcZcvR.jpg" alt="月租图标" class="owner-gray-icon">
            </a>
            <a href="../page/yezhu" data-subject="业主">业主</a>
            <a href="../page/aboutus" data-subject="关于">关于</a>
            <a href="easy-rent-recommend.html" data-subject="轻松整租" class="nav-owner" style="display: none!important;">
                轻松整租
                <img src="../picture/public-20181106-Fjn7IEUAr9PgMQIs.jpg" alt="轻松整租图标" class="owner-gray-icon">
            </a>
        </div>
                    <a class="dklogin fr" href="../page/login" rel="nofollow">登录</a>
                <div class="dkphone fr">
            <div class="serphoen fl hd-sprite-ab">
                <label></label>
            </div>
        </div>
    </div>
</div>
<div class="right-fixed">
    <div class="fixed-wrapper">
        <div class="scroll-to-top">
            <a href="javascript:void(0)" target="_parent"></a>
        </div>
        <div class="scroll-to-app">
            <a href="javascript:void(0)"></a>
            <div>
                <span></span>
                <img src="../picture/public-20180519-FnAV1svjF0c8wOsS.jpg" alt="app下载">
                <p>扫描下载蛋壳APP</p>
            </div>
        </div>
        <div class="scroll-to-phone">
            <a href="javascript:void(0)"></a>
            <div>
                <img src="../picture/public-20180519-Fq8UiGCwbNXfmt4u.jpg" alt="客服电话图片">
                <span>400-110-1027</span>
            </div>
        </div>
        <div class="scroll-to-xcx">
            <a href="javascript:void(0)"></a>
            <div>
                <span class="xcx-close"></span>
                <span></span>
                <img src="../picture/public-20180606-Fma_F2IgLSK0VW-T.jpg" style="width:95px;height:95px" alt="app下载">
                <p>小程序找房更容易</p>
            </div>
        </div>
        
        <div class="custom_huose" data-toggle="modal" data-target="#orderRoom" style="position:relative;top: 15px;">
            <img src="../picture/public-20181122-FlZjLr74CPQQXfkP.jpg" alt="房源定制">
        </div>
    </div>
</div>
<div class="website-main">
        <div class="page-entire-rent">
		<div class="m-jr-1">
			<img src="../picture/public-20180328-FvP1tY8thwP8eMh2.jpg" title="租房，合租" alt="高品质合居图片">
			<p>十口相传为“古”，三口相传为“合”。生活在茫茫都市中的人被动或主动的选择<br>了“合租”生活，但往往内心却仍然偏爱着一点点孤独...</p>
		</div>

		<div class="m-jr-2">
			 <div class="w1032 rel">
			 	 <div class="sea-text">
				  	 <img src="../picture/public-20180627-FgiMfQEFo6sXzm1d.jpg" title="租房，合租" alt="蛋壳合居产品说明图片">
					   <p class="sea-mn"> 租住的日子里，由于东西太多，总是会把生活堆积的乱糟糟的。 在你奋斗的岁月里，也许会发现东西越来越多，每一件物品，乃至一 个玩偶，也许都曾让你开怀大笑的瞬间。正是这些素材的累积，塑造 了一个个生动形象的生活。颜色明快的房间，专属于你的私人订制。</p>
				  </div>
				  <img class="who-sea" src="../picture/public-20180627-FtMfCpteYDEX3YX4.jpg" alt="首席设计师图片">
			 </div>
		</div>

		<div class="m-jr-3">
			<div class="ele-tit">
				 <div class="tit-img"><img src="../picture/public-20180313-FlRCdwx0nt7l8erK.jpg" alt="MUJI风格房源图片"></div>
				 <div class="tit-h2">MUJI风——质朴无华、极简主义</div>
			</div>
			<!-- 3/4 style-->
			<div class="m-jr-sample">
				 <div class="w1032 clearfix">
				 <div class="sample-narrow">
						<img src="../picture/public-20180330-FiQywMrmD5aQ4svT.jpg" title="租房，合租" alt="MUJI风格房源图片">
						<div class="narrow-text">
							<h2><span>MUJI风格</span></h2>
							<div class="os scroll">
								<p>素雅MUJI风：它遵循统一设计理念所产生出来的商品无不诠释着“无印良品”的品牌形象，它所倡导的简约、质朴、回归大自然的生活方式也受品味人士的推崇。它是日本设计中“禅的美学”的代表也是极简主义美学设计风格的代表。每一种色彩给人的心理感受是不同的；muji风的设计贴近自然，朴实无华。白色：具有纯净，明快纯真的感受；灰色：具有高雅，温和，平凡和中庸的感受；米色：具有原始，自然，天然和健康的感受。</p>
							</div>
						</div>
					</div>
					<div class="sample-wide right">
						<div class="w460"><img src="../picture/public-20180330-Fhjuy3e7wPPxiy9a.jpg" title="租房，合租" alt="MUJI风格房源图片"></div>
						<div class="w202"><img src="../picture/public-20180330-FkAA0S7wQ3iX9ga8.jpg" title="租房，合租" alt="MUJI风格房源图片"></div>
						<div class="w202"><img src="../picture/public-20180330-FsYMuCLIWHKZH9vE.jpg" title="租房，合租" alt="MUJI风格房源图片"></div>
						<div class="w460"><img src="../picture/public-20180330-FipXrklTcTCjzJen.jpg" title="租房，合租" alt="MUJI风格房源图片"></div>
					</div>
				 </div>
			</div>
			<!-- 3/4 style end -->
		</div>

		<div class="room-box w1032">
			<div class="ele-tit bdr-btm dis-n J-tit-muji">
				<div class="in-bl an-1-0">
					<span class="adorn-1-0"></span>
					<span class="adorn-1-1"></span>
					<h1 class="tit-h2"><span>合·居</span>&ensp;MUJI风格房源</h1>
					<div class="tit-sub">我们造就的别致，只为不愿将就的你</div>
				 </div>
			</div>

			<!-- 工业风格房源 -->
			<div class="m-room mtop20 clearfix J-room-muji"></div>
			<div class="ele-btn center mtop20 dis-n J-btn-muji">
				<a class="gdt-lr-01">更多房源</a>
			</div>
		</div>

		<div class="m-jr-4">
			<div class="ele-tit">
				<div class="in-bl">
					<div class="tit-img"><img src="../picture/public-20180313-Fvc0_20jl8uFm9Ic.jpg" title="租房，合租" alt="工业风格房源图片"></div>
					<div class="tit-h2">工业风——复古的艺术范儿</div>
				 </div>
			</div>

			<!-- 3/4 style-->
			<div class="m-jr-sample">
				 <div class="w1032 clearfix">

					<div class="sample-wide left">
						<div class="w460"><img src="../picture/public-20180328-Fuq1xZ5So8Bp_QAL.jpg" title="租房，合租" alt="工业风格房源图片"></div>
						<div class="w202"><img src="../picture/public-20180328-Fszm8jzUegJvV9tW.jpg" title="租房，合租" alt="工业风格房源图片"></div>
						<div class="w202"><img src="../picture/public-20180328-Fs3n3WBfzG9Wl6mU.jpg" title="租房，合租" alt="工业风格房源图片"></div>
						<div class="w460"><img src="../picture/public-20180328-FiX78p6UxEjVfr_Z.jpg" title="租房，合租" alt="工业风格房源图片"></div>
					</div>
					<div class="sample-narrow">
						<img src="../picture/public-20180328-Ft1rmg4nqwCnlgRV.jpg" alt="工业风格房源图片">
						<div class="narrow-text">
							<h2><span>工业风格</span></h2>
							<div class="os scroll">
								<p>工业风格是近年来室内装修设计中一股颇受追捧的一股风潮。它起源于将废旧的工业厂房或仓库改建成带居住功能的艺术家工作室。这种亮敞开放的LOFT房子的内部装修往往保留来原有工厂的部门风貌，如裸露的墙砖，质朴的木质横梁，以及暴露的金属管道等产业痕迹。逐渐的，这类有着复古和颓废艺术范的格调成为一种风格，散发着硬朗的旧工业气息。跟工业风经常同时出现的LOFT风格发源地都是在纽约SOHO区，建筑原地址也基本是19世纪末的工厂。</p>
								<p>发展到后来，考虑到并没有那么多工厂可以用，于是转向保留工厂味道的「硬朗」「厚重」的材质和元素，例如黑色金属制造而成家具，裸露的电线和管道，有痕迹的木质家具都别具一格的展示在蛋壳公寓。</p>
							</div>
						</div>
					</div>

				 </div>
			</div>
			<!-- 3/4 style end -->
		</div>

		<div class="room-box w1032">
			<div class="ele-tit bdr-btm dis-n J-tit-gyf">
				<div class="in-bl an-1-0">
					<span class="adorn-1-0"></span>
					<span class="adorn-1-1"></span>
					<h2 class="tit-h2"><span>合·居</span>&ensp;工业风格房源</h2>
					<div class="tit-sub">工业风的粗犷、神秘、个人特色十足</div>
				 </div>
			</div>
			<!-- 工业风格房源 -->
			<div class="m-room mtop20 clearfix J-room-gyf"></div>
			<div class="ele-btn center mtop20 dis-n J-btn-gyf">
				<a class="gdt-lr-01">更多房源</a>
			</div>
		</div>
		
	</div>
	<!-- page end -->
</div>
<div class="footer">
    <div class="website-help">
        <div class="wibsite-center">
            <div class="website-f-list">
                <span>用户帮助</span>
                <p><a href="notice.html" rel="nofollow" target="_blank">入住指南</a></p>
                <p><a href="20180111lifehacks" rel="nofollow" target="_blank">生活常识</a></p>
                <p><a href="problem.html" rel="nofollow" target="_blank">租房问题</a></p>
            </div>
            <div class="website-f-list">
                <span>商务合作</span>
                <p><a href="20171219styleforum" rel="nofollow" target="_blank">商务合作</a></p>
            </div>
            <div class="website-f-list">
                <span>公司信息</span>
                <p><a href="../page/aboutus" target="_blank" rel="nofollow">关于蛋壳</a></p>
                <p><a href="../page/contact" target="_blank" rel="nofollow">联系蛋壳</a></p>
                <p><a href="../page/join" target="_blank" rel="nofollow">加入蛋壳</a>
                </p>
            </div>
            <div class="website-f-list">
                <span>客服热线</span>
                <p>4001-551-551</p>
            </div>
            <div class="website-f-right">
                <div class="website-f-pic index-qyx">
                    <b><img src="../picture/public-20190220-Fk9q0ko59hYEY9cP.jpg" title="企优享" alt="企优享"></b>
                    <p>企优享</p>
                </div>
                <div class="website-f-pic index-zfb">
                    <b><img src="../picture/public-20190116-FkDQ7BtPiOtdR1Vn.jpg" title="支付宝小程序" alt="支付宝小程序"></b>
                    <p>支付宝小程序</p>
                </div>
                <div class="website-f-pic index-xcx">
                    <b><img src="../picture/public-20180702-FlfqqYRpjYyFKdRU.jpg" title="下载蛋壳公寓APP" alt="下载蛋壳公寓APP"></b>
                    <p>小程序找房</p>
                </div>
                <div class="website-f-pic index-apptyb index-app">
                    <b></b>
                    <p>蛋壳公寓APP</p>
                </div>
                <div class="website-f-pic index-wechat">
                    <b><img src="../picture/public-20180104-FuHnSFKo71wRSuJS.jpg" title="关注蛋壳公寓官方微信" alt="关注蛋壳公寓官方微信"></b>
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div style="clear:both;padding-top: 20px;display:none">
                <p style="color:#fff;font-size: 16px">专属管家、极速WIFI、优质保洁、环保装修、高档家居</p>
            </div>
        </div>
    </div>
    <div class="crumbs">
        <div class="crumbs-classify">
            <a class="crumbs-sel" code="city" href="javascript:;">城市租房</a>
            <a href="javascript:;" code="dirc">城区租房</a>
            <a href="javascript:;" code="block">商圈租房</a>
            <a href="javascript:;" code="plot">小区租房</a>
        </div>
        <div>
            <div class="crumbs-list city">

            </div>
            <div class="crumbs-list dirc" style="display:none">

            </div>
            <div class="crumbs-list block" style="display:none">

            </div>
            <div class="crumbs-list plot" style="display:none">

            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="wibsite-center">
            <div class="footer-logo">
                <a href="index.html">
                    <img src="../picture/public-20180702-FkLmdf41L0FSNAkt.jpg" alt="蛋壳公寓">
                </a>
            </div>
            <div class="copy-right-text">
                <div class="dankecomicp" style="display: none">
                    <div><a href="javascript:;" rel="nofollow" target="_blank" style="color: #fff">© 2019 蛋壳公寓
                            沪ICP备18043153号-1</a></div>
                    <div>
                        <img src="../picture/public-20190628-FinEALw7ifYIV2ba.jpg" style="display: inline-block;width: 10px">
                        <a href="javascript:;" target="_blank" rel="nofollow" style="color: #fff">京公网安备 11010102003786号</a>
                    </div>
                </div>
                <div class="dankegongyucomicp" style="display: none">
                    <div><a href="javascript:;" rel="nofollow" target="_blank" style="color: #fff">© 2019 蛋壳公寓
                            京ICP备15009197号-1</a></div>
                    <div>
                        <img src="../picture/public-20190628-FinEALw7ifYIV2ba.jpg" style="display: inline-block;width: 10px">
                        <a href="javascript:;" target="_blank" rel="nofollow" style="color: #fff">北京市东城驻区大队11010102001946</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-house">
        <div class="custom-center">
            <div class="custom-house-title">输入您的找房需求，我们会尽快安排销售，用心带您找到心仪的房源</div>
            <div class="custom-house-address">
                <div class="intention-position">意向位置：</div>
                <div class="list_part">
                    <div class="city_xs">
                        <div class="city_list_title"></div>
                        <div class="city_list_tab">
                            <ul class="city_ul">
                            </ul>
                        </div>
                    </div>

                    <div class="district_xs">
                        <div class="district_list_title">不限</div>
                        <div class="district_list_tab">
                            <ul class="district_ul">
                            </ul>
                        </div>
                    </div>

                    <div class="block_xs">
                        <div class="block_list_title">不限</div>
                        <div class="block_list_tab">
                            <ul class="block_ul">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="import-address">
                <input type="text" placeholder="可手动输入多个地址，以，隔开" class="address_inp" maxlength="50">
            </div>
            <div class="price-budget">
                <div class="budget-title">租房预算：</div>
                <div class="budget_list_title">不限</div>
                <div class="budget_list_tab">
                    <ul class="budget_ul">
                        <li class="on">不限</li>
                        <li>1500以下</li>
                        <li>1500-2000元</li>
                        <li>2000-2500元</li>
                        <li>2500-3000元</li>
                        <li>3000元</li>
                    </ul>
                </div>
            </div>
            <div class="custom-phoneNum">
                <div class="phoneNum-part">
                    <div class="phoneNum-title"><span class="sign">*</span>联系方式：</div>
                </div>
                <input type="tel" placeholder="请输入正确电话，以便我们联系到您" class="phone_num_inp" maxlength="11">
            </div>
            <div class="submit_btn" data-toggle="modal" data-target="#myroom">提交</div>
            <div class="close_img"></div>
        </div>
    </div>

    <div class="order_room">
        <div class="succesbox_detail" style="display: block">
            <div class="success_close">×</div>
            <div class="wt_detail">
                <div class="wt_explain">
                    <div class="wt_img"></div>
                    <h2 class="wt_title">意向提交成功！</h2>
                    <h3 class="wt_sub_title">客服会在24小时内联系您，请不要拒接座机，
                        保持电话畅通噢！</h3>
                </div>
                <div class="wt_dec_title">让租房变得简单和快乐
                    <div class="wt_line"></div>
                </div>
                <div class="wt_icons">
                    <div class="detail_img_logo"></div>
                </div>
            </div>
            <div class="wt_ewm">
                <div class="wt_ewm_image"></div>
                <div class="wt_sm">扫一扫</div>
                <div class="wt_sm">下载<span>蛋壳公寓</span></div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    /*退出登录*/

    $(".dklogout").on("click", function () {
        $.ajaxSetup({
    headers: {
        'X-CSRF-TOKEN': 'k16BSqcXhksxFsUXocOSPDWx5DIrxalmL4FWOThW'
    },
    cache: false,
    async: false,
});;
        $.ajax({
            url: '/web-api/user/logout',
            type: "POST",
            success: function (data) {
                location.reload()
            },
            error: function (err) {
                console.log(err);
            }
        })
    })

    $('.dklogined-wrapper').hover(function () {
        $('.dklogined-center').show()
        $('.dklogined').css('background', 'url(https://public.danke.com.cn/public-20180519-FqitD4IbypL6rbHSVa_yq4iSsaQE)')
    }, function () {
        $('.dklogined-center').hide()
        $('.dklogined').css('background', 'url(https://public.danke.com.cn/public-20180519-FtfmOHVmUq7-6Tzol_cyQBE9yt3y)')
    })

    $('.scroll-to-phone').hover(function () {
        $('.scroll-to-phone div').show()
        $('.scroll-to-xcx div').hide()
        $('.xcx-close').hide()
    }, function () {
        $('.scroll-to-phone div').hide()
    })

    $('.scroll-to-app').hover(function () {
        $('.scroll-to-app div').show()
        $('.scroll-to-xcx div').hide()
        $('.scroll-to-app a').css('background-color', '#3dbcc6')
        $('.xcx-close').hide()
    }, function () {
        $('.scroll-to-app div').hide()
        $('.scroll-to-app a').css('background-color', '#333333')
    })

    $('.scroll-to-xcx').hover(function () {
        $('.scroll-to-xcx div').show()
        $('.scroll-to-xcx a').css('background-color', '#3dbcc6')
    }, function () {
        $('.scroll-to-xcx div').hide()
        $('.scroll-to-xcx a').css('background-color', '#333333')
        $('.xcx-close').hide()
    })

    $('.xcx-close').on('click', function () {
        $('.scroll-to-xcx div').hide()
        $('.xcx-close').hide()
    })

    $('.crumbs-classify a').on('click', function () {
        $(this).addClass('crumbs-sel')
        $(this).siblings().removeClass('crumbs-sel')

        var code = '.crumbs-list.' + $(this).attr('code')
        $(code).show()
        $(code).siblings().hide()
    });


    $('.custom_huose').on('click', function () {
        $('body').css('overflow-y', 'hidden');
        $('.custom-house').show();
        saMethod.orderRoomPCClick('PC入口点击');
    });

    $('.close_img').on('click', function () {
        $('body').css('overflow-y', 'auto');
        $('.custom-house').hide();
    });

    $('.success_close').on('click', function () {
        $('.order_room').hide();
    });

    var city_id_list = [],
        city_name_list = [],
        district_id_list = [],
        district_name_list = [],
        block_id_list = [],
        block_name_list = [],
        myBudget = '不限',
        currentCityId,
        currentCityName,
        currentDistrictId = 0,
        currentDistrictName,
        currentBlockId = 0,
        currentBlockName,
        submit = true,
        token = $("input[name='_token']").val();

    //城市id
    var city_id = true;
    $('.city_list_title').on('click', function () {
        if (city_id) {
            $('.city_list_tab').show();
            $('.district_list_tab').hide();
            $('.block_list_tab').hide();
            city_id = false;
            district_id = true;
            block_id = true;
        } else {
            $('.city_list_tab').hide();
            city_id = true;
        }
    });

    //district id
    var district_id = true;
    $('.district_list_title').on('click', function () {
        if (district_id) {
            $('.district_list_tab').show();
            $('.city_list_tab').hide();
            $('.block_list_tab').hide();
            city_id = true;
            district_id = false;
            block_id = true;
        } else {
            $('.district_list_tab').hide();
            district_id = true;
        }
    });

    //block id
    var block_id = true;
    $('.block_list_title').on('click', function () {
        if (block_id) {
            $('.block_list_tab').show();
            $('.city_list_tab').hide();
            $('.district_list_tab').hide();
            city_id = true;
            district_id = true;
            block_id = false;
        } else {
            $('.block_list_tab').hide();
            block_id = true;
        }
    });


    var price_select = true;
    $(".budget_list_title").on('click', function () {
        if (price_select) {
            $('.budget_list_tab').show();
            price_select = false;
        } else {
            $('.budget_list_tab').hide();
            price_select = true;
        }
    });

    $('.budget_ul li').on('click', function () {
        $('.budget_ul li').removeClass('on');
        $(this).addClass('on');
        $('.budget_list_tab').hide();
        $('.budget_list_title').text($(this).text());
        price_select = true;
        myBudget = $(this).text();
    });

    $(".phone_num_inp").bind("input propertychange", function (event) {
        if ($(".phone_num_inp").val().length == 11) {
            $('.submit_btn').css('background', '#3DBCC6');
            submit = true;
        } else {
            $('.submit_btn').css('background', '#E4E4E4');
            submit = false;
        }
    });

    function district(currentCityId) {
        $.ajax({
            url: '/pangu-activity/marketing/custom-house-resource/district/' + currentCityId,
            type: 'get',
            success: function (res) {
                if (res.success) {
                    district_id_list = [];
                    district_name_list = [];
                    $('.district_ul').empty();
                    $('.district_ul').append('<li class="district_bx">不限</li>');
                    $('.district_list_tab').animate({scrollTop: 0}, 100);
                    currentDistrictId = '0';
                    $.each(res.data, function (idx, item) {
                        district_name_list.push(res.data[idx]);
                        district_id_list.push(idx);
                        $('.district_ul').append('<li>' + res.data[idx] + '</li>');
                    });

                    currentDistrictId = district_id_list[district_name_list.indexOf($('.district_ul li').eq(1).text())];
                    $('.district_list_title').text($('.district_ul li').eq(1).text());
                    $('.district_ul li').eq(1).addClass('on');
                    blockPart(currentDistrictId);

                    $('.district_ul li').on('click', function () {
                        $('.district_ul li').removeClass('on');
                        $(this).addClass('on');
                        currentDistrictId = district_id_list[district_name_list.indexOf($(this).text())];
                        currentDistrictName = $(this).text();
                        $('.district_list_tab').hide();
                        district_id = true;
                        $('.district_list_title').text(currentDistrictName);
                        blockPart(currentDistrictId);
                    });
                    $('.district_bx').click(function () {
                        $('.city_block_list').hide();
                        currentDistrictId = '0';
                        blockPart(currentDistrictId);
                    })
                } else {
                    alert(res.msg);
                }
            },
            error: function () {
                //alert('请重新刷新此页面');
            }
        })
    }

    function blockPart(currentDistrictId) {
        $.ajax({
            url: '/pangu-activity/marketing/custom-house-resource/block/' + currentDistrictId,
            type: 'get',
            success: function (res) {
                if (res.success) {
                    block_id_list = [];
                    block_name_list = [];
                    $('.block_ul').empty();
                    $('.block_ul').append('<li class="district_bx">不限</li>');
                    $('.block_list_title').text('不限');
                    $('.block_list_tab').animate({scrollTop: 0}, 100);
                    currentBlockId = '0';
                    $.each(res.data, function (idx, item) {
                        block_name_list.push(res.data[idx]);
                        block_id_list.push(idx);
                        $('.block_ul').append('<li>' + res.data[idx] + '</li>');
                    });

                    currentBlockId = block_id_list[block_name_list.indexOf($('.block_ul li').eq(1).text())];
                    $('.block_list_title').text($('.block_ul li').eq(1).text());
                    $('.block_ul li').eq(1).addClass('on');

                    $('.block_ul li').on('click', function () {
                        $('.block_ul li').removeClass('on');
                        $(this).addClass('on');
                        currentBlockId = block_id_list[block_name_list.indexOf($(this).text())];
                        currentBlockName = $(this).text();
                        $('.block_list_tab').hide();
                        block_id = true;
                        $('.block_list_title').text(currentBlockName);
                    });
                    $('.district_bx').click(function () {
                        currentBlockId = '0';
                    })
                } else {
                    //alert(res.msg);
                }
            },
            error: function () {
                //alert('请重新刷新此页面');
            }
        })
    }

    $.ajax({
        url: '/pangu-activity/marketing/custom-house-resource/city-list',
        type: 'get',
        success: function (res) {
            if (res.success) {
                $.each(res.data, function (idx, item) {
                    city_name_list.push(res.data[idx]);
                    city_id_list.push(idx);
                    $('.city_ul').append('<li>' + res.data[idx] + '</li>');
                });

                currentCityId = city_id_list[city_name_list.indexOf('北京市')];
                $('.city_ul').children().eq(city_id_list.indexOf(currentCityId)).addClass('on');
                $('.city_list_title').text(res.data[currentCityId]);
                currentCityName = res.data[currentCityId];
                district(currentCityId);
                //点击更换城市
                $('.city_ul li').on('click', function () {
                    $('.city_ul li').removeClass('on');
                    $(this).addClass('on');
                    currentCityId = city_id_list[city_name_list.indexOf($(this).text())];
                    currentCityName = $(this).text();
                    district(currentCityId);
                    $('.city_list_tab').hide();
                    city_id = true;
                    $('.city_list_title').text(currentCityName)
                })
            } else {
                alert(res.msg);
            }
        },
        error: function () {
            //alert('请重新刷新此页面');
        }
    });

    $('.submit_btn').click(function (platform) {
        var mobilePhone = $('.phone_num_inp').val();
        var address_inp = $('.address_inp').val();
        var edg = /^1[3456789][0-9]{9}$/;

        if (!mobilePhone) {
            alert('请输入手机号');
            return;
        }
        if (!edg.test(mobilePhone)) {
            alert('请输入正确的手机号');
            return;
        }

        if (submit) {
            submit = false;
            $.ajax({
                url: '/pangu-activity/marketing/custom-house-resource/custom-info',
                type: 'post',
                data: {
                    'mobile': mobilePhone,
                    'city_id': currentCityId,
                    'district_id': currentDistrictId,
                    'block_id': currentBlockId,
                    'address': address_inp,
                    'budget': myBudget,
                    '_token': token,
                },
                success: function (res) {
                    if (res.success) {
                        $('body').css('overflow-y', 'auto');
                        $('.custom-house').hide();
                        $('.modal-backdrop').show();
                        $('.order_room').show();
                    } else {
                        alert(res.msg);
                    }
                    saMethod.orderRoomCommitBtn(mobilePhone, currentCityName, currentDistrictName, currentBlockName, address_inp, myBudget);
                    submit = true;
                },
                error: function () {
                    //alert('请重新刷新此页面');
                }
            })
        } else {
            //alert('请重新刷新此页面');
        }
    });


    
    getCityList('北京', 'bj');
    getDircList('北京', 'bj', '')
    getBlockList('北京', 'bj', '')
    getPlotList('北京', 'bj', '')

</script>
<!--APP推广层 end-->
    <script type="text/javascript">

		sa.quick('autoTrack', {
			'page_type': '合租频道',
			'house_positiontype': '',
			'house_position': '',
			'house_scope': '',
			'house_price': '',
			'house_type': '',
			'business_circle': '',
			'house_rentway': '',
			'house_area': '',
			'house_id': '',
			'housedel_id': '',
			'resblock_name': '',
        });
       var pageJoint = {
      	 init:function(){
       	  	this.initCity();
       	  },
       	  dk:{
       	  	cityCode:$('input[name="website-city-code"]').val(),
       	  	cityId:1,
       	  	api:"/web-api"
       	  },
       	  /*初始化城市id并加载房源列表*/
       	  initCity:function(){
       	  	var self = this;
			    //加载城市ID
			    $.get(self.dk.api+'/base-configure/city-list', function (data) {
			        for (var i = 0; i < data.length; i++) {
			            if (data[i].code == self.dk.cityCode) {
							self.dk.cityId = data[i].id;
							break ;
			            }
			        }
			        //加载room列表
			        self.roomList("gyf","合租","工业风")
			        self.roomList("muji","合租","MUJI风")
			    });
       	  },
       	  /**
       	   * 合租/整租列表
       	   * params boxType {String} className 区分标签模块
		   * params type 	{String} rent_type get
		   * params style 	{String} style	   get
       	   * */
       	  roomList:function(boxType,type,style){
       	  	  var self = this;
       	  	  $.ajax({
       	  	  	url:self.dk.api+"/room/recommend-list",
       	  	  	type:"GET",
       	  	  	dataType:"json",
       	  	  	data:{
       	  	  		city_id:self.dk.cityId,
					rent_type:type,
					style:style,
       	  	  		limit:6
       	  	  	},
       	  	  	success:function(data){

       	  	  		//无数据直接返回
       	  	  		if(!data.length){
       	  	  			$(".J-room-"+boxType).html(['<div class="notext_box">',
				                        '<strong>房源更新中...</strong><br>',
				                        '您可调整搜索关键词查找周边房源，或者订阅相应区域房源，',
				                        '<a class="newroom" href="javascript:void(0)" data-toggle="modal" data-target="#myroom">有新房源时及时通知我</a>',
				                    '</div>'].join(""))	;
       	  	  			return; 
       	  	  		}

       	  	  		//用array收集数据转化为标签
       	  	  		var roomArr = [];
       	  	  		$.each(data,function(i,e){
   	  	  				roomArr.push(self.listHtml(e))
       	  	  		})
       	  	  		
       	  	  		/*将html插入渲染到页面中并使其显示出来*/
       	  	  		$(".J-room-"+boxType).html(roomArr.join("")).show();
						$(".J-btn-"+boxType+",.J-tit-"+boxType).removeClass("dis-n")
  	  			    	.find("a").attr("href","/room/"+self.dk.cityCode+"/c"+type+"-z"+style+".html" + '?from=with&style=' + style);
       	  	  	},
       	  	  	error:function(err){}
       	  	  });
       	  },
       	  /**
       	   * 合租拼接字符串
       	   * param  {Object}
       	   * return {String} 
       	   **/
       	  listHtml:function(ele){
       	  	if(typeof ele != "object")return;
        	 var html = ['<div class="room-list">',
        	 	  '<a class="pic" target="_blank" href="',ele.url,'"><img width="330" height="240" src="',ele.major_image,'" title="'+ ele.name +'" alt="精选月租房源图片" /></a>',
        	 	  '<div class="txt">',
        	 	  	 ,'<p class="price">',ele.price,'<span>',ele.price_unit,'</span></p>',
        	 	  	 '<a class="tit" href="',ele.url,'">',ele.name,'</a>',
        	 	  	 '<div class="ads">',ele.nearest_subway_title,'</div>',
        	 	  '</div>',
        	 '</div>']
       	  	 return html.join("")
       	  }
       }
	  
	  $(function(){
		pageJoint.init();
	  })
    </script>
<div class="layout-collection-website">
    <a href="javascript:void(0)" class="layout-collection-website-close"></a>
    <div class="layout-collection-show">
        <span>友情提示</span>
        <p>亲爱的蛋宝宝们，由于我们修改了网站域名（新域名：www.danke.com）<br>为了您更快速的访问，请收藏此网站～</p>
        <div class="layout-collection-website-btn">
            <label class="layout-collection-not">暂不收藏</label>
            <label class="layout-collection-yes">一键收藏</label>
        </div>
    </div>
    <div class="layout-collection-hide">
        <span>收藏成功</span>
    </div>
</div>
</body>
</html>
