<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>北京租房信息网-北京租房价格-北京房屋出租-蛋壳公寓官网</title>
    <meta name="applicable-device" content="pc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name='keywords' content='北京租房,北京租房网,北京租房价格,北京房屋出租'>
    
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="蛋壳公寓为您提供北京出租价格、北京房屋出租等北京租房信息，蛋壳公寓国内专业的白领合租公寓,打造高品质、安心舒适的租住环境，在北京租房就选蛋壳公寓。">
    
    <!-- Set render engine for multi engine browser -->
    <meta name="renderer" content="webkit">
    <!-- Disable Baidu Siteapp -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <link rel="canonical" id="completeLinks">
    <link media="all" type="text/css" rel="stylesheet" href="../css/bootstrap-ec3bb52a00.min.css">

    <link media="all" type="text/css" rel="stylesheet" href="../css/swiper-0b941af5db.min.css">

    <link media="all" type="text/css" rel="stylesheet" href="../css/common-79c5f32049.css">


    <script src="../js/jquery-2f6b11a7e9.min.js"></script>

    <script src="../js/bootstrap-5869c96cc8.min.js"></script>

    <script src="../js/swiper-3-cd2bffb7f2.3.1.min.js"></script>

    <script src="../js/md5-ea27c6f755.min.js"></script>

    <script src="../js/city-3cac51054f.js"></script>

    <script src="../js/public-877bc21ad3.js"></script>

    <script src="../js/sa-8f9c5970ba.js"></script>

    <script src="../js/sa-method-7585e9f14c.js"></script>

        <link media="all" type="text/css" rel="stylesheet" href="../css/index-d68d3cc323.css">

    <script src="../js/index-079fba032c.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?814ef98ed9fc41dfe57d70d8a496561d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1271579284'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1271579284%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    <style>
        [id^="cnzz_stat_icon_"] {
            display: none;
        }
    </style>
    <script> (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })(); </script>
    <script>
        var id = '';
        $.ajax({
            type: 'GET',
            url: '/web-api/user/info',
            async: false,
            error: function (msg) {
                console.log(msg)
            },
            success: function (data) {
                id = data.data.mobile || '';
            },
        })

        sa.register({
            'platformType': 'PC',
            'pid': 'dankegongyu_customer',
            'cid': 'bj',
            'ucid': id,
            'uuid': id,
            'ssid': id,
            'lmei': '',
            'android_id': '',
            'idfa': '',
            'idfv': '',
            'mac_id': '',
        });
        $(function () {
            $('.nav-owner').click(function () {
                saMethod.ClickingHomepage('月租', $(this).attr('key') || '', '', '')
            })
        })

        //sa.quick('autoTrack');

        function GetUrlParam(paraName) {
            var url = document.location.toString();
            var arrObj = url.split("?");

            if (arrObj.length > 1) {
                var arrPara = arrObj[1].split("&");
                var arr;

                for (var i = 0; i < arrPara.length; i++) {
                    arr = arrPara[i].split("=");

                    if (arr != null && arr[0] == paraName) {
                        return arr[1];
                    }
                }
                return "";
            } else {
                return "";
            }
        }

        $('#completeLinks').attr('href',window.location.href);
    </script>
    </head>


<!--[if lte IE 8]>
<script src="../js/html5shiv-0ce8f35589.js"></script>

<script src="../js/respond-972b9d5576.min.js"></script>

<![endif]-->

<!--[if lt IE 8]>
<div class="alert-danger text-center">您正在使用<strong>过时</strong>的浏览器，本网站不能很好的支持。
    <a href="http://browser.qq.com/" target="_blank">立即使用最新QQ浏览器</a> 获得更好的使用体验！
</div>
<![endif]-->

<body>
<input type="hidden" value="400-110-1027" id="zjhPhoneNumber">
<input type="hidden" value="bj" name="website-city-code">
<input type="hidden" value="首页" name="website-page-name">
<input type="hidden" name="_token" value="RJRhQtiJwdBX84kRT3Qh7KcyiXKjZPomJRYxxkcs">
<div class="danke_header" id="topbar" data-spy="affix" data-offset-top="32">
    <div class="wibsite-center header-center">
        <div class="logo fl">
            <a href="index.html"><img src="../picture/public-20181123-Fv8X-dI45m6srAWM.jpg" title="蛋壳公寓官网" alt="蛋壳公寓官网"></a>
            <h2 style="display: none;">蛋壳公寓官网，租房，整租，合租</h2>
        </div>
        <div class="fl dkcity hd-sprite-ab">
            <span id="dropdownMenu1" data-toggle="dropdown"><i></i>北京</span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0)" rel="bj">北京市</a></li>
                                    <li><a href="javascript:void(0)" rel="sz">深圳市</a></li>
                                    <li><a href="javascript:void(0)" rel="sh">上海市</a></li>
                                    <li><a href="javascript:void(0)" rel="hz">杭州市</a></li>
                                    <li><a href="javascript:void(0)" rel="tj">天津市</a></li>
                                    <li><a href="javascript:void(0)" rel="wh">武汉市</a></li>
                                    <li><a href="javascript:void(0)" rel="nj">南京市</a></li>
                                    <li><a href="javascript:void(0)" rel="gz">广州市</a></li>
                                    <li><a href="javascript:void(0)" rel="cd">成都市</a></li>
                                    <li><a href="javascript:void(0)" rel="gs">苏州市</a></li>
                                    <li><a href="javascript:void(0)" rel="wx">无锡市</a></li>
                                    <li><a href="javascript:void(0)" rel="xa">西安市</a></li>
                                    <li><a href="javascript:void(0)" rel="cq">重庆市</a></li>
                            </ul>
        </div>
        <div class="nav fl">
            <a href="index.html" data-subject="首页">首页</a>
            <a href="bj1.html" data-subject="找房">找房</a>
            <a href="../page/bjjointrent" data-subject="合租">合租</a>
            <a href="../page/bjentirerent" data-subject="整租">整租</a>
            <a href="../page/bj1" data-subject="月租" class="nav-owner">
                月租
                <img src="../picture/public-20181026-Fk40x9Wf9fpcZcvR.jpg" alt="月租图标" class="owner-gray-icon">
            </a>
            <a href="../page/yezhu" data-subject="业主">业主</a>
            <a href="../page/aboutus" data-subject="关于">关于</a>
            <a href="easy-rent-recommend.html" data-subject="轻松整租" class="nav-owner" style="display: none!important;">
                轻松整租
                <img src="../picture/public-20181106-Fjn7IEUAr9PgMQIs.jpg" alt="轻松整租图标" class="owner-gray-icon">
            </a>
        </div>
                    <a class="dklogin fr" href="../page/login" rel="nofollow">登录</a>
                <div class="dkphone fr">
            <div class="serphoen fl hd-sprite-ab">
                <label></label>
            </div>
        </div>
    </div>
</div>
<div class="right-fixed">
    <div class="fixed-wrapper">
        <div class="scroll-to-top">
            <a href="javascript:void(0)" target="_parent"></a>
        </div>
        <div class="scroll-to-app">
            <a href="javascript:void(0)"></a>
            <div>
                <span></span>
                <img src="../picture/public-20180519-FnAV1svjF0c8wOsS.jpg" alt="app下载">
                <p>扫描下载蛋壳APP</p>
            </div>
        </div>
        <div class="scroll-to-phone">
            <a href="javascript:void(0)"></a>
            <div>
                <img src="../picture/public-20180519-Fq8UiGCwbNXfmt4u.jpg" alt="客服电话图片">
                <span>400-110-1027</span>
            </div>
        </div>
        <div class="scroll-to-xcx">
            <a href="javascript:void(0)"></a>
            <div>
                <span class="xcx-close"></span>
                <span></span>
                <img src="../picture/public-20180606-Fma_F2IgLSK0VW-T.jpg" style="width:95px;height:95px" alt="app下载">
                <p>小程序找房更容易</p>
            </div>
        </div>
        
        <div class="custom_huose" data-toggle="modal" data-target="#orderRoom" style="position:relative;top: 15px;">
            <img src="../picture/public-20181122-FlZjLr74CPQQXfkP.jpg" alt="房源定制">
        </div>
    </div>
</div>
<div class="website-main">
        <div class="banner">
        <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <div class="carousel-inner"></div>
            <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
        </div>
    </div>
    <div class="index-box">
        <div class="wibsite-center">
            <div class="search">
                <div class="search-box">
                    <div class="search-select">
                        <span>全部</span>
                        <div class="search-select-list" tabindex="0">
                            <label>全部</label>
                            <label>整租</label>
                            <label>合租</label>
                        </div>
                    </div>
                    <input class="search-box" type="text" placeholder="例如: 回龙观、双井、天通苑、青年路、望京等" autocomplete="off">
                    <div class="search-btn">搜索</div>
                    <script>
                        window.onload = function () {
                            $('.search-btn').click(function () {
                                saMethod.Clickingsearchitem('点击搜索按钮', window.location.href)
                            })
                            $('.search-box').click(function () {
                                saMethod.Clickingsearchitem('点击搜索框', window.location.href)
                            })
                        }
                    </script>
                </div>
                <a href="bj2.html" class="index-map-btn">地图找房</a>
                <div class="searcht-text">
                    <label>热门搜索：</label>
                    <a href="x现房.html">现房</a>
                    <a href="n1-hot_keywords.html">一居室</a>
                                                                <a href="bj-hot_keywords_E59B9EE9BE99E8A7.html">回龙观</a>
                                            <a href="bj-hot_keywords_E58F8CE4BA95.html">双井</a>
                                            <a href="bj-hot_keywords_E5A4A9E9809AE88B.html">天通苑</a>
                                            <a href="bj-hot_keywords_E99D92E5B9B4E8B7.html">青年路</a>
                                            <a href="bj-hot_keywords_E69C9BE4BAAC.html">望京</a>
                                        <a href="bj1.html">所有房源</a>
                </div>
            </div>
        </div>
    </div>
    <div class="index-rooms-box">
        <div class="index-center">
            <div class="box-title">
                <div class="box-title-fl fl">
                    <h1>
                        <span><b>精选房源</b>为你而选</span>
                        <p>蛋壳公寓致力于为都市白领创造高品质租住生活</p>
                    </h1>
                </div>
                <div class="box-title-fr fr">
                    <a key="0" href="bj1.html">更多</a>
                </div>
            </div>
            <div class="index-rooms">
            </div>
        </div>
    </div>
    <div class="index-dkchn">
        <div class="index-center">
            <div class="dnchn-title">蛋壳承诺&服务</div>
            <div class="dkchn-box">
                <div class="dkchn-list">
                    <div class="dkchn-list-hover">
                        <div class="front">
                            <p class="dnchn-list-bg01">百分百真实房源</p>
                        </div>
                        <div class="back">
                            <p>真实房源信息，<br>不收中介费，退换有保障</p>
                        </div>
                    </div>
                </div>
                <div class="dkchn-list">
                    <div class="dkchn-list-hover">
                        <div class="front">
                            <p class="dnchn-list-bg02">支持分期付款</p>
                        </div>
                        <div class="back">
                            <p>押一付三压力大，蛋壳提供<br>分期月付，可押一付一</p>
                        </div>
                    </div>
                </div>
                <div class="dkchn-list">
                    <div class="dkchn-list-hover">
                        <div class="front">
                            <p class="dnchn-list-bg03">优质保洁</p>
                        </div>
                        <div class="back">
                            <p>保洁服务覆盖面广，<br>品种多，帮您清除卫生死角</p>
                        </div>
                    </div>
                </div>
                <div class="dkchn-list">
                    <div class="dkchn-list-hover">
                        <div class="front">
                            <p class="dnchn-list-bg04">售后维修极速上门</p>
                        </div>
                        <div class="back">
                            <p>设施故障报修专人联系跟进，<br>下载蛋壳公寓app随时查看进度</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-sq">
        <div class="index-center">

            <div class="box-title">
                <div class="box-title-fl fl J-joint-tit">
                    <h2>
                        <span><b>合租·样板间</b>多种风格</span>
                        <p>高档家居 高品质合租公寓，为都市白领创造高品质租住生活</p>
                    </h2>
                </div>
                <div class="box-title-fr fr J-title-2"></div>
            </div>

            <div class="sample-box J-sample-2">
                <div class="sample block"></div>
                <div class="sample"></div>
                <div class="sample"></div>
                <div class="sample"></div>
            </div>

        </div>
    </div>

    <div class="index-sq">
        <div class="index-center">
            <div class="box-title">
                <div class="box-title-fl fl J-entire-tit">
                    <h2>
                        <span><b>整租·样板间</b>多种风格</span>
                        <p>高档家居 高品质合租公寓，为都市白领创造高品质租住生活</p>
                    </h2>
                </div>
                <div class="box-title-fr fr J-title-1"></div>

            </div>

            <div class="sample-box J-sample-1">
                <div class="sample block"></div>
                <div class="sample"></div>
                <div class="sample"></div>
                <div class="sample"></div>
            </div>

        </div>
    </div>

    <div class="index-sq">
        <div class="index-center">
            <div class="box-title">
                <div class="box-title-fl fl J-trade-tit">
                    <h2>
                        <span><b>精选商圈</b>为你而选</span>
                        <p>蛋壳公寓致力于为都市白领创造高品质租住生活</p>
                    </h2>
                </div>
            </div>
            <div class="index-sqbox"></div>
        </div>
    </div>

    <div class="index-sq">
        <div class="index-center">
            <div class="box-title">
                <div class="box-title-fl fl J-story-tit">
                    <h2>
                        <span><b>蛋壳故事</b>生活点滴</span>
                        <p>蛋壳公寓致力于为都市白领创造高品质租住生活</p>
                    </h2>
                </div>
            </div>
            <div class="storybox"></div>
        </div>
    </div>

    <script>

        $('.wibsite-center a').click(function () {

            if ($(this).attr('key') == '0') {
                name = '首页精选房源模块更多'
            } else {
                var mod = $(this).parents('.wibsite-center').find('.box-title').find('div').find('span').text()
                if (mod.indexOf('精选房源') != -1) {
                    name = '首页精选房源模块'
                }
                if (mod.indexOf('合租') != -1) {
                    name = '首页合租样板间模块'
                }
                if (mod.indexOf('整租') != -1) {
                    name = '首页整租样板间模块'
                }
                if (mod.indexOf('蛋壳商圈') != -1) {
                    name = '首页蛋壳商圈模块'
                }
                if (mod.indexOf('蛋壳故事') != -1) {
                    name = '首页蛋壳故事模块'
                }
            }
            saMethod.ClickingHomepage(name, $(this).attr('key') || '', '', '')
        })

        $('.carousel-inner').on('click', '.item', function () {
            saMethod.Broadcastadvertisement('首页频道', $(this).find('a').attr('key'), $(this).find('a').attr('title'), '', window.location.href)
        })

        sa.quick('autoTrack', {
            'page_type': '首页频道',
            //'source_type': '',
            'house_positiontype': '',
            'house_position': '',
            'house_scope': '',
            'house_price': '',
            'house_type': '',
            'business_circle': '',
            'house_rentway': '',
            'house_area': '',
            'house_id': '',
            'housedel_id': '',
            'resblock_name': '',
        });

    </script>
    <div class="website-add-paycode">
        <div class="website-add-paycodebg"></div>
        <img src="../picture/public-20191015-Frs-U8JSnNZoyGtI.jpg">
    </div>
    <style>
        .website-add-paycode {
            display: none;
            position: fixed;
            z-index: 9999;
        }

        .website-add-paycode, .website-add-paycodebg {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        .website-add-paycodebg {
            position: absolute;
            z-index: 1;
            background: #000;
            opacity: .7;
        }

        .website-add-paycode img {
            position: absolute;
            width: 300px;
            z-index: 2;
            left: 50%;
            top: 50%;
            margin: -204px 0 0 -150px;
        }

        .sl-text em {
            display: none;
            position: absolute;
            top: 10px;
            left: 5px;
            padding: 0 10px;
            line-height: 25px;
            color: #fff;
            background: rgb(239, 83, 80);
            border-radius: 13px;
        }
    </style>
</div>
<div class="footer">
    <div class="website-help">
        <div class="wibsite-center">
            <div class="website-f-list">
                <span>用户帮助</span>
                <p><a href="notice.html" rel="nofollow" target="_blank">入住指南</a></p>
                <p><a href="20180111lifehacks" rel="nofollow" target="_blank">生活常识</a></p>
                <p><a href="problem.html" rel="nofollow" target="_blank">租房问题</a></p>
            </div>
            <div class="website-f-list">
                <span>商务合作</span>
                <p><a href="20171219styleforum" rel="nofollow" target="_blank">商务合作</a></p>
            </div>
            <div class="website-f-list">
                <span>公司信息</span>
                <p><a href="../page/aboutus" target="_blank" rel="nofollow">关于蛋壳</a></p>
                <p><a href="../page/contact" target="_blank" rel="nofollow">联系蛋壳</a></p>
                <p><a href="../page/join" target="_blank" rel="nofollow">加入蛋壳</a>
                </p>
            </div>
            <div class="website-f-list">
                <span>客服热线</span>
                <p>4001-551-551</p>
            </div>
            <div class="website-f-right">
                <div class="website-f-pic index-qyx">
                    <b><img src="../picture/public-20190220-Fk9q0ko59hYEY9cP.jpg" title="企优享" alt="企优享"></b>
                    <p>企优享</p>
                </div>
                <div class="website-f-pic index-zfb">
                    <b><img src="../picture/public-20190116-FkDQ7BtPiOtdR1Vn.jpg" title="支付宝小程序" alt="支付宝小程序"></b>
                    <p>支付宝小程序</p>
                </div>
                <div class="website-f-pic index-xcx">
                    <b><img src="../picture/public-20180702-FlfqqYRpjYyFKdRU.jpg" title="下载蛋壳公寓APP" alt="下载蛋壳公寓APP"></b>
                    <p>小程序找房</p>
                </div>
                <div class="website-f-pic index-apptyb index-app">
                    <b></b>
                    <p>蛋壳公寓APP</p>
                </div>
                <div class="website-f-pic index-wechat">
                    <b><img src="../picture/public-20180104-FuHnSFKo71wRSuJS.jpg" title="关注蛋壳公寓官方微信" alt="关注蛋壳公寓官方微信"></b>
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div style="clear:both;padding-top: 20px;display:none">
                <p style="color:#fff;font-size: 16px">专属管家、极速WIFI、优质保洁、环保装修、高档家居</p>
            </div>
        </div>
    </div>
    <div class="crumbs">
        <div class="crumbs-classify">
            <a class="crumbs-sel" code="city" href="javascript:;">城市租房</a>
            <a href="javascript:;" code="dirc">城区租房</a>
            <a href="javascript:;" code="block">商圈租房</a>
            <a href="javascript:;" code="plot">小区租房</a>
        </div>
        <div>
            <div class="crumbs-list city">

            </div>
            <div class="crumbs-list dirc" style="display:none">

            </div>
            <div class="crumbs-list block" style="display:none">

            </div>
            <div class="crumbs-list plot" style="display:none">

            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="wibsite-center">
            <div class="footer-logo">
                <a href="index.html">
                    <img src="../picture/public-20180702-FkLmdf41L0FSNAkt.jpg" alt="蛋壳公寓">
                </a>
            </div>
            <div class="copy-right-text">
                <div class="dankecomicp" style="display: none">
                    <div><a href="javascript:;" rel="nofollow" target="_blank" style="color: #fff">© 2019 蛋壳公寓
                            沪ICP备18043153号-1</a></div>
                    <div>
                        <img src="../picture/public-20190628-FinEALw7ifYIV2ba.jpg" style="display: inline-block;width: 10px">
                        <a href="javascript:;" target="_blank" rel="nofollow" style="color: #fff">京公网安备 11010102003786号</a>
                    </div>
                </div>
                <div class="dankegongyucomicp" style="display: none">
                    <div><a href="javascript:;" rel="nofollow" target="_blank" style="color: #fff">© 2019 蛋壳公寓
                            京ICP备15009197号-1</a></div>
                    <div>
                        <img src="../picture/public-20190628-FinEALw7ifYIV2ba.jpg" style="display: inline-block;width: 10px">
                        <a href="javascript:;" target="_blank" rel="nofollow" style="color: #fff">北京市东城驻区大队11010102001946</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-house">
        <div class="custom-center">
            <div class="custom-house-title">输入您的找房需求，我们会尽快安排销售，用心带您找到心仪的房源</div>
            <div class="custom-house-address">
                <div class="intention-position">意向位置：</div>
                <div class="list_part">
                    <div class="city_xs">
                        <div class="city_list_title"></div>
                        <div class="city_list_tab">
                            <ul class="city_ul">
                            </ul>
                        </div>
                    </div>

                    <div class="district_xs">
                        <div class="district_list_title">不限</div>
                        <div class="district_list_tab">
                            <ul class="district_ul">
                            </ul>
                        </div>
                    </div>

                    <div class="block_xs">
                        <div class="block_list_title">不限</div>
                        <div class="block_list_tab">
                            <ul class="block_ul">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="import-address">
                <input type="text" placeholder="可手动输入多个地址，以，隔开" class="address_inp" maxlength="50">
            </div>
            <div class="price-budget">
                <div class="budget-title">租房预算：</div>
                <div class="budget_list_title">不限</div>
                <div class="budget_list_tab">
                    <ul class="budget_ul">
                        <li class="on">不限</li>
                        <li>1500以下</li>
                        <li>1500-2000元</li>
                        <li>2000-2500元</li>
                        <li>2500-3000元</li>
                        <li>3000元</li>
                    </ul>
                </div>
            </div>
            <div class="custom-phoneNum">
                <div class="phoneNum-part">
                    <div class="phoneNum-title"><span class="sign">*</span>联系方式：</div>
                </div>
                <input type="tel" placeholder="请输入正确电话，以便我们联系到您" class="phone_num_inp" maxlength="11">
            </div>
            <div class="submit_btn" data-toggle="modal" data-target="#myroom">提交</div>
            <div class="close_img"></div>
        </div>
    </div>

    <div class="order_room">
        <div class="succesbox_detail" style="display: block">
            <div class="success_close">×</div>
            <div class="wt_detail">
                <div class="wt_explain">
                    <div class="wt_img"></div>
                    <h2 class="wt_title">意向提交成功！</h2>
                    <h3 class="wt_sub_title">客服会在24小时内联系您，请不要拒接座机，
                        保持电话畅通噢！</h3>
                </div>
                <div class="wt_dec_title">让租房变得简单和快乐
                    <div class="wt_line"></div>
                </div>
                <div class="wt_icons">
                    <div class="detail_img_logo"></div>
                </div>
            </div>
            <div class="wt_ewm">
                <div class="wt_ewm_image"></div>
                <div class="wt_sm">扫一扫</div>
                <div class="wt_sm">下载<span>蛋壳公寓</span></div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    /*退出登录*/

    $(".dklogout").on("click", function () {
        $.ajaxSetup({
    headers: {
        'X-CSRF-TOKEN': 'RJRhQtiJwdBX84kRT3Qh7KcyiXKjZPomJRYxxkcs'
    },
    cache: false,
    async: false,
});;
        $.ajax({
            url: '/web-api/user/logout',
            type: "POST",
            success: function (data) {
                location.reload()
            },
            error: function (err) {
                console.log(err);
            }
        })
    })

    $('.dklogined-wrapper').hover(function () {
        $('.dklogined-center').show()
        $('.dklogined').css('background', 'url(https://public.danke.com.cn/public-20180519-FqitD4IbypL6rbHSVa_yq4iSsaQE)')
    }, function () {
        $('.dklogined-center').hide()
        $('.dklogined').css('background', 'url(https://public.danke.com.cn/public-20180519-FtfmOHVmUq7-6Tzol_cyQBE9yt3y)')
    })

    $('.scroll-to-phone').hover(function () {
        $('.scroll-to-phone div').show()
        $('.scroll-to-xcx div').hide()
        $('.xcx-close').hide()
    }, function () {
        $('.scroll-to-phone div').hide()
    })

    $('.scroll-to-app').hover(function () {
        $('.scroll-to-app div').show()
        $('.scroll-to-xcx div').hide()
        $('.scroll-to-app a').css('background-color', '#3dbcc6')
        $('.xcx-close').hide()
    }, function () {
        $('.scroll-to-app div').hide()
        $('.scroll-to-app a').css('background-color', '#333333')
    })

    $('.scroll-to-xcx').hover(function () {
        $('.scroll-to-xcx div').show()
        $('.scroll-to-xcx a').css('background-color', '#3dbcc6')
    }, function () {
        $('.scroll-to-xcx div').hide()
        $('.scroll-to-xcx a').css('background-color', '#333333')
        $('.xcx-close').hide()
    })

    $('.xcx-close').on('click', function () {
        $('.scroll-to-xcx div').hide()
        $('.xcx-close').hide()
    })

    $('.crumbs-classify a').on('click', function () {
        $(this).addClass('crumbs-sel')
        $(this).siblings().removeClass('crumbs-sel')

        var code = '.crumbs-list.' + $(this).attr('code')
        $(code).show()
        $(code).siblings().hide()
    });


    $('.custom_huose').on('click', function () {
        $('body').css('overflow-y', 'hidden');
        $('.custom-house').show();
        saMethod.orderRoomPCClick('PC入口点击');
    });

    $('.close_img').on('click', function () {
        $('body').css('overflow-y', 'auto');
        $('.custom-house').hide();
    });

    $('.success_close').on('click', function () {
        $('.order_room').hide();
    });

    var city_id_list = [],
        city_name_list = [],
        district_id_list = [],
        district_name_list = [],
        block_id_list = [],
        block_name_list = [],
        myBudget = '不限',
        currentCityId,
        currentCityName,
        currentDistrictId = 0,
        currentDistrictName,
        currentBlockId = 0,
        currentBlockName,
        submit = true,
        token = $("input[name='_token']").val();

    //城市id
    var city_id = true;
    $('.city_list_title').on('click', function () {
        if (city_id) {
            $('.city_list_tab').show();
            $('.district_list_tab').hide();
            $('.block_list_tab').hide();
            city_id = false;
            district_id = true;
            block_id = true;
        } else {
            $('.city_list_tab').hide();
            city_id = true;
        }
    });

    //district id
    var district_id = true;
    $('.district_list_title').on('click', function () {
        if (district_id) {
            $('.district_list_tab').show();
            $('.city_list_tab').hide();
            $('.block_list_tab').hide();
            city_id = true;
            district_id = false;
            block_id = true;
        } else {
            $('.district_list_tab').hide();
            district_id = true;
        }
    });

    //block id
    var block_id = true;
    $('.block_list_title').on('click', function () {
        if (block_id) {
            $('.block_list_tab').show();
            $('.city_list_tab').hide();
            $('.district_list_tab').hide();
            city_id = true;
            district_id = true;
            block_id = false;
        } else {
            $('.block_list_tab').hide();
            block_id = true;
        }
    });


    var price_select = true;
    $(".budget_list_title").on('click', function () {
        if (price_select) {
            $('.budget_list_tab').show();
            price_select = false;
        } else {
            $('.budget_list_tab').hide();
            price_select = true;
        }
    });

    $('.budget_ul li').on('click', function () {
        $('.budget_ul li').removeClass('on');
        $(this).addClass('on');
        $('.budget_list_tab').hide();
        $('.budget_list_title').text($(this).text());
        price_select = true;
        myBudget = $(this).text();
    });

    $(".phone_num_inp").bind("input propertychange", function (event) {
        if ($(".phone_num_inp").val().length == 11) {
            $('.submit_btn').css('background', '#3DBCC6');
            submit = true;
        } else {
            $('.submit_btn').css('background', '#E4E4E4');
            submit = false;
        }
    });

    function district(currentCityId) {
        $.ajax({
            url: '/pangu-activity/marketing/custom-house-resource/district/' + currentCityId,
            type: 'get',
            success: function (res) {
                if (res.success) {
                    district_id_list = [];
                    district_name_list = [];
                    $('.district_ul').empty();
                    $('.district_ul').append('<li class="district_bx">不限</li>');
                    $('.district_list_tab').animate({scrollTop: 0}, 100);
                    currentDistrictId = '0';
                    $.each(res.data, function (idx, item) {
                        district_name_list.push(res.data[idx]);
                        district_id_list.push(idx);
                        $('.district_ul').append('<li>' + res.data[idx] + '</li>');
                    });

                    currentDistrictId = district_id_list[district_name_list.indexOf($('.district_ul li').eq(1).text())];
                    $('.district_list_title').text($('.district_ul li').eq(1).text());
                    $('.district_ul li').eq(1).addClass('on');
                    blockPart(currentDistrictId);

                    $('.district_ul li').on('click', function () {
                        $('.district_ul li').removeClass('on');
                        $(this).addClass('on');
                        currentDistrictId = district_id_list[district_name_list.indexOf($(this).text())];
                        currentDistrictName = $(this).text();
                        $('.district_list_tab').hide();
                        district_id = true;
                        $('.district_list_title').text(currentDistrictName);
                        blockPart(currentDistrictId);
                    });
                    $('.district_bx').click(function () {
                        $('.city_block_list').hide();
                        currentDistrictId = '0';
                        blockPart(currentDistrictId);
                    })
                } else {
                    alert(res.msg);
                }
            },
            error: function () {
                //alert('请重新刷新此页面');
            }
        })
    }

    function blockPart(currentDistrictId) {
        $.ajax({
            url: '/pangu-activity/marketing/custom-house-resource/block/' + currentDistrictId,
            type: 'get',
            success: function (res) {
                if (res.success) {
                    block_id_list = [];
                    block_name_list = [];
                    $('.block_ul').empty();
                    $('.block_ul').append('<li class="district_bx">不限</li>');
                    $('.block_list_title').text('不限');
                    $('.block_list_tab').animate({scrollTop: 0}, 100);
                    currentBlockId = '0';
                    $.each(res.data, function (idx, item) {
                        block_name_list.push(res.data[idx]);
                        block_id_list.push(idx);
                        $('.block_ul').append('<li>' + res.data[idx] + '</li>');
                    });

                    currentBlockId = block_id_list[block_name_list.indexOf($('.block_ul li').eq(1).text())];
                    $('.block_list_title').text($('.block_ul li').eq(1).text());
                    $('.block_ul li').eq(1).addClass('on');

                    $('.block_ul li').on('click', function () {
                        $('.block_ul li').removeClass('on');
                        $(this).addClass('on');
                        currentBlockId = block_id_list[block_name_list.indexOf($(this).text())];
                        currentBlockName = $(this).text();
                        $('.block_list_tab').hide();
                        block_id = true;
                        $('.block_list_title').text(currentBlockName);
                    });
                    $('.district_bx').click(function () {
                        currentBlockId = '0';
                    })
                } else {
                    //alert(res.msg);
                }
            },
            error: function () {
                //alert('请重新刷新此页面');
            }
        })
    }

    $.ajax({
        url: '/pangu-activity/marketing/custom-house-resource/city-list',
        type: 'get',
        success: function (res) {
            if (res.success) {
                $.each(res.data, function (idx, item) {
                    city_name_list.push(res.data[idx]);
                    city_id_list.push(idx);
                    $('.city_ul').append('<li>' + res.data[idx] + '</li>');
                });

                currentCityId = city_id_list[city_name_list.indexOf('北京市')];
                $('.city_ul').children().eq(city_id_list.indexOf(currentCityId)).addClass('on');
                $('.city_list_title').text(res.data[currentCityId]);
                currentCityName = res.data[currentCityId];
                district(currentCityId);
                //点击更换城市
                $('.city_ul li').on('click', function () {
                    $('.city_ul li').removeClass('on');
                    $(this).addClass('on');
                    currentCityId = city_id_list[city_name_list.indexOf($(this).text())];
                    currentCityName = $(this).text();
                    district(currentCityId);
                    $('.city_list_tab').hide();
                    city_id = true;
                    $('.city_list_title').text(currentCityName)
                })
            } else {
                alert(res.msg);
            }
        },
        error: function () {
            //alert('请重新刷新此页面');
        }
    });

    $('.submit_btn').click(function (platform) {
        var mobilePhone = $('.phone_num_inp').val();
        var address_inp = $('.address_inp').val();
        var edg = /^1[3456789][0-9]{9}$/;

        if (!mobilePhone) {
            alert('请输入手机号');
            return;
        }
        if (!edg.test(mobilePhone)) {
            alert('请输入正确的手机号');
            return;
        }

        if (submit) {
            submit = false;
            $.ajax({
                url: '/pangu-activity/marketing/custom-house-resource/custom-info',
                type: 'post',
                data: {
                    'mobile': mobilePhone,
                    'city_id': currentCityId,
                    'district_id': currentDistrictId,
                    'block_id': currentBlockId,
                    'address': address_inp,
                    'budget': myBudget,
                    '_token': token,
                },
                success: function (res) {
                    if (res.success) {
                        $('body').css('overflow-y', 'auto');
                        $('.custom-house').hide();
                        $('.modal-backdrop').show();
                        $('.order_room').show();
                    } else {
                        alert(res.msg);
                    }
                    saMethod.orderRoomCommitBtn(mobilePhone, currentCityName, currentDistrictName, currentBlockName, address_inp, myBudget);
                    submit = true;
                },
                error: function () {
                    //alert('请重新刷新此页面');
                }
            })
        } else {
            //alert('请重新刷新此页面');
        }
    });


    
    getCityList('北京', 'bj');
    getDircList('北京', 'bj', '')
    getBlockList('北京', 'bj', '')
    getPlotList('北京', 'bj', '')

</script>
<!--APP推广层 end-->
    <div class="modal" id="picture-modal" tabindex="-1" role="dialog" aria-labelledby="picture-modal-label" aria-hidden="true">
        <div class="modal-dialog imgroom">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center" id="picture-modal-label">样板间展示</h4>
                </div>
                <div class="modal-body">
                    <article class="single-project">
                        <div class="row txtbbs">
                            <div class="col-md-3">
                                <ul class="list-unstyled project-info">
                                    <li><strong>版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本：</strong><span class="pull-right J-version"></span></li>
                                    <li><strong>主设计师：</strong><span class="pull-right J-designer" style="letter-spacing: 2px"></span></li>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <p class="J-picture-desc"></p>
                            </div>
                        </div>
                        <div id="Carousel" class="carousel slide">
                            <div class="carousel-inner"></div>
                            <ol class="carousel-indicators"></ol>
                            <a class="carousel-control left" href="#Carousel" data-slide="prev"></a>
                            <a class="carousel-control right" href="#Carousel" data-slide="next"></a>
                        </div>
                        <div class="place J-place">
                            <span>
                           
                            </span>
                            <a href="">查看房源</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

<div class="layout-collection-website">
    <a href="javascript:void(0)" class="layout-collection-website-close"></a>
    <div class="layout-collection-show">
        <span>友情提示</span>
        <p>亲爱的蛋宝宝们，由于我们修改了网站域名（新域名：www.danke.com）<br>为了您更快速的访问，请收藏此网站～</p>
        <div class="layout-collection-website-btn">
            <label class="layout-collection-not">暂不收藏</label>
            <label class="layout-collection-yes">一键收藏</label>
        </div>
    </div>
    <div class="layout-collection-hide">
        <span>收藏成功</span>
    </div>
</div>
</body>
</html>
